@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.nav-logo {
    height: 25px !important;
}

.table-position {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
}

.table-position2 {
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translateX(-50%);
}